 *{
     box-sizing: border-box;
     /* margin: 0; */
 }
 body{
    background-color: peachpuff;
    /* margin: 5px 10px; */
} 

#meni{
    background-color: #e8a87c;
    width: 100%;
    height: 100px;
    display: inline-block;
    padding: 10px;
}

#grupe{
    
    float: right;
    height: 100%;
    margin: 20px 0px;

}

.items{
    border: 2px solid #e8a87c;
    margin: 0px 1px;
    text-align: center;
    background-color: papayawhip;
    
}
#studenti{ 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10px,auto));
    grid-auto-rows: minmax(10px, auto);
    background-color: peachpuff;
    float: left;
    padding: 20px;

}

ul{
    list-style-type: none;
    display: flex;
}
#grupelnk{
    margin-right: 10px;
    
}

/* #vjezbelnk{

} */

.link{
  vertical-align:middle;

}

.tabela{
    width: 100%;
    height: 100%;
    text-align: center;

}

.tabela thead{
    background-color:papayawhip;
}

.tabela td{
    background-color:ivory;
}

@media screen and (min-width: 800px){
    #studenti{
        width: 60%;
    }
    #grupe{
        width: 40%;
    }
}
@media screen and (max-width: 799px){
    #studenti{
        width: 100%;
        float: none;
    }
    #grupe{
        width: 100%;
        float: none;
    }
}

@media screen and (max-width:500px){
    *{
        width: 100%;
    }
    #studenti{
        width: 100%;
        float: none;
    }
    #grupe{
        width: 100%;
        float: none;
    }
    th:nth-child(n+2), td:nth-child(n+2) { 
        display: none;
    }
    ul{
        display: block;
        width: 100%;
        padding: 0;
    }
    li{
        width: 100%;
    }
    #grupelnk{
        width: 100%;
        margin-right: 0;
    }
    #vjezbelnk{
        width: 100%;
    }
    #meni{
        width: 100%;
        display: inline-block;
        padding: 0;
    }

}

