*{
    box-sizing: border-box;
    /* margin: 0; */
}
body{
    background-color: peachpuff;
    /* margin: 5px 10px; */
} 

#meni{
    background-color: #e8a87c;
    width: 100%;
    height: 100px;
    display: inline-block;
    padding: 0;
    grid-area: a;
    margin-bottom: 10px;
}
ul{
    list-style-type: none;
    display: flex;
    padding: 0;
}
#grupelnk{
    margin-right: 10px;
    
}

.wrapper{
    display: grid;
    grid-template-areas: "a a a"
                         "b c d"
                         "b e f";
    width: 100%;
}

#odabirVjezbe{
    grid-area: b;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
    background-color: floralwhite;
    width: 100%;
}
.vjezba{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: 2px solid #e8a87c;
    margin-bottom: 3px;
    height: auto;
}

.dugmad{
    background-color: #e8a87c;
    display: flex;
    padding: 3px;
    box-sizing: border-box;
}

.dugme{
    box-sizing: border-box;
    margin-right: 3px;
    background-color: antiquewhite;
    border-color: lightslategray;
}

.graf{
    box-sizing: border-box;
    padding: 5px;
    /* height: auto; */
    height: 40vh;
    width: auto;
    margin: auto;
}

/* .graf1{
    grid-area: c;
}

.graf2{
    grid-area: d;
}

.graf3{
    grid-area: e;
}

.graf4{
    grid-area: f;
} */
img{
    max-width: 100%;
    max-height: 100%;
}

@media screen and (max-width:799px) {
    *{
        width: 100%;
    }
    .wrapper{
        grid-template-areas: "a"
        "b"
        "c"
        "d"
        "e"
        "f";
    }
}

