
@import url(http://fonts.googleapis.com/css?family=Gabriela);

h1{
    font-family: Gabriela;
    color: green;
    font-size: 42pt;
    padding: 0.5%;
    /* margin-top: 0;
    margin-bottom: 0; */
    margin-top: 0px;
    margin-bottom: 0px;
}

body{
    background-color: #a7a09a;
    margin-top: 0%;
    
}

#okvir{
    background-color: #99c;
    margin-left: auto;
    margin-right: auto;
    height: 460px;
    width: 750px; 
  
}

#zaglavlje{
    
    background-color: #ddd;
    padding: 0.01%;
    margin-top: 0px;
    margin-bottom: 0px;   
}

#meni{
    background-color: #c99;
    /* padding: 0.5%; */
    width: 100%;
    /* padding-left: 0.5px; */
    max-height: fit-content;
    margin-top: 0px;
    margin-bottom: 0px;
   
}

#meni li{
    list-style-type: none;
    display: inline;
    margin-top: 0px;
    margin-bottom: 0px;
}

#meni ul{
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 1%;
}



#glavni{
    float: left;
    background-color: #9c9;   
    width: 60%;
    padding: 0.5%;
}

#desno{
    float: right;
    background-color: #c9c;
    padding: 0.5%;
    width: 38%;
 
}

#podnozje{
    background-color: #cc9;
    float: left;
    width: 100%;
    max-height: fit-content;
    margin-bottom: 0px;
    margin-top: 0%;
    height: 40px;
}


