*{
    box-sizing: border-box;
    /* margin: 0; */
}
body{
   background-color: peachpuff;
   /* margin: 5px 10px; */
} 

.wrapper{
    box-sizing: border-box;
    padding: 40px;
    border: 2px solid darkgray;
    width: 40%;
    display: flex;
    flex-direction: column;
    margin: auto
} 


button{
    width: 25%;
    min-width: fit-content;
}

#ajaxstatus{
    font-size: large;
    font-weight: bold;
    /* border: 2px solid black; */
    margin: 2px 0 2px 0;
}


