*{
    box-sizing: border-box;
    /* margin: 0; */
}
body{
   background-color: peachpuff;
   /* margin: 5px 10px; */
} 

.wrapper{
    box-sizing: border-box;
    padding: 40px;
    border: 2px solid darkgray;
    width: 40%;
    display: flex;
    flex-direction: column;
    margin: auto
} 

h1{
    text-align: center;
    font-size: x-large;
    font-family: Times New Roman;
}

button{
    width: 25%;
    min-width: fit-content;
}

select{
    min-width:fit-content;
    max-width: fit-content;
}